:root {
  --primary: #ef4023;
  --secondary: #777777;
}
body{
  margin: 0;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 45px;
  font-weight: 600;
}
p,a,span{
  font-family: 'Poppins', sans-serif;
}

/* navigation bar */
.nav_wrapper .nav_title span {
  color: var(--primary);
}
.nav_wrapper .nav_tags ul {
  gap: 50px;
}
.nav_wrapper .nav_cta {
  border: 1px solid var(--primary);
  color: var(--primary);
}
.nav_wrapper .nav_cta:hover {
  background-color: var(--primary);
  color: #fff;
}

/* hero_block */
.hero_block .carousel-item {
  height: 500px;
  background-color: black;
}
.hero_block .carousel-item img {
  opacity: 0.5;
}
.hero_block .carousel-item .slider_info {
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

/* popular courses */
.popular_courses .card-text {
  color: var(--secondary);
}
.popular_courses .price {
  color: var(--primary);
}
.popular_courses .course_title,
.popular_courses .course_subtext {
  width: 500px;
}
.popular_courses .course_subtext{
  color: var(--secondary);
}
.card_block .card{
  max-width: 550px;
}
.card_block .card .col-md-8 {
  display: flex;  
  align-items: center;
}
.card_block .card img {
  height: 100%;
}

/* explore_block */
.explore_block .card-body{
  padding: 10px 50px;
}
.explore_block .card-body .card-text{
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary);
}
.explore_block img{
  height: 100%;
  object-fit: cover;
}

/* register_modal */
.register_modal .modal_trigger{
  padding: 50px 60px;
  background: var(--primary);
  border-radius: 10px;
}
.register_modal .modal_trigger button{
  color: var(--primary);
  background-color: #fff;
  border: 1px solid var(--primary);
}

/* tech_accordion */
.tech_accordion p {
  color: var(--secondary);
}

  /* footer */
footer{
  height: 200px;
  margin-top: 150px;
}
footer h2{
  color: var(--primary);    
}
footer p{
  font-size: 18px;    
  color: var(--secondary);
}
footer .social_menu{
  gap: 10px;
}


@media (max-width: 992px) {
  /* navigation bar */
  .nav_wrapper .nav_tags ul {
    gap: 0;
  }
  .nav_wrapper .nav_cta {
    margin-left: auto;
    margin-right: 40px;
    order: 0 !important;
  }

  /* hero block */
  .hero_block .carousel-item {
    height: 350px;
  }
  .hero_block .carousel-item img {
    height: 100%;
    object-fit: cover;
  }

  /* popular courses */
  .card_block .card{
    max-width: 100%;
  }
  .popular_courses .course_title,
  .popular_courses .course_subtext {
    width: auto;
  }

  /* explore block */
  /* register_modal */
  .register_modal{
    padding: 0 10px;
  }
  .register_modal .modal_trigger{
    text-align: center;
  }

  /* trusted_company */
  .trusted_company{
    display: none;
  }

}

@media (max-width: 576px) {
  /* navigation bar */
  .nav_wrapper .nav_cta {
    display: none;
  }

  /* hero block */
  .hero_block .carousel-item {
    height: 250px;
  }

  .hero_block .carousel-item .slider_info h2 {
    font-size: 18px;
  }
  .hero_block .carousel-item .slider_info p {
    font-size: 12px;
  }
  .hero_block .carousel-item .slider_info button {
    font-size: 12px;
    padding: 5px !important;
  }

  /* popular courses */
  .card_block .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  /* explore block */
  .explore_block .card-body{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .explore_block .card-body .stat div{
    margin-right: 10px!important;
  }
}
